body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.buttons {
  display: flex;
  gap: 15px;
}
button {
  padding: 10px 30px;
  font-size: 20px;
  font-family: Arial;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  color: rgb(62, 62, 62);
  font-weight: bold;
  transition: all 0.4s;
}
button:hover {
  cursor: pointer;
  border: 6px solid rgb(62, 62, 62);
}